:root.theme-dark {
  --cover-image: url(../images/cover-image-dark.png);
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --header-main-title-color: #db00ff;
  --rectangle-color: #ff0070;
  --button-color: #ff0070;
  --shadow-color: #ff0070;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --link-hover: #f1b2ce;
  --link-focus: #f1b2ce;
  --decoration-visible: block;
}

@media (prefers-color-scheme: dark) {

  :root {
    --cover-image: url(../images/cover-image-dark.png);
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --header-main-title-color: #db00ff;
    --rectangle-color: #ff0070;
    --button-color: #ff0070;
    --shadow-color: #ff0070;
    --title-color: #ff0070;
    --subtitle-color: #000028;
    --link-hover: #f1b2ce;
    --link-focus: #f1b2ce;
    --decoration-visible: block;
  }
}
