/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-dark.png);
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --header-main-title-color: #db00ff;
  --rectangle-color: #ff0070;
  --button-color: #ff0070;
  --shadow-color: #ff0070;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --link-hover: #f1b2ce;
  --link-focus: #f1b2ce;
  --decoration-visible: block;
}
