/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --decor-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --header-main-title-color: #DB00FF;
  --accent-color: #FF0070;


  --rectangle-color: #FF0070;
  --button-color: #FF0070;
  /* --main-header-color: #DB00FF; */
  --shadow-color: #FF0070;
  --text-background-color: #FF0070;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  /* --text-color: #F1B2CE; */
  --link-hover: #F1B2CE;
  --link-focus: #F1B2CE;
  --decoration-visible: block;
}