/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --heading-color: #FFC2E6;
  --decor-color: #353430;
  --text-color: #353430;
  --header-main-title: #FFC2E6;
  --accent-color: #FF8DCB;
}