/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-light.png);
  --decor-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --header-main-title-color: #ffc2e6;
  --rectangle-color: #353430;
  --button-color: #353430;
  --shadow-color: #ff8dcb;
  --title-color: #353430;
  --subtitle-color: #353430;
  --link-hover: #353430;
  --link-focus: #353430;
  --decoration-visible: none;
}
