/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  background-image: var(--cover-image);
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  padding: 0 10px;
  display: grid;
  height: 100vh;
  min-block-size: 668px;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.header__decoration-item {
  color: var(--decor-color);
  position: absolute;
  top: 10px;
  right: 38px;
  z-index: 9999;
  display: var(--decoration-visible);
  user-select: none;
}

.header__decoration-item::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
  border-radius: 50%;
  top: 8px;
  left: 43px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  border: 1px solid var(--rectangle-color);
  border-top: none;
  border-right: none;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border: 1px solid var(--rectangle-color);
  border-bottom: none;
  border-left: none;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 54px;
  line-height: normal;
  user-select: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--button-color);
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in sRGB, var(--button-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  color: var(--header-main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--shadow-color);
  line-height: 82.5%;
  padding-bottom: 16px;
  align-self: flex-end;
}

.header__paragraph {
  margin-top: 40px;
  font-weight: 800;
  line-height: 1.3;
  align-self: flex-start;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
  gap: 50px;
  background-color: var(--bg-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  color: var(--title-color);
}

.section-concentrate-better .card__title {
  margin-bottom: 20px;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card__title,
.section__item-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 10px;
}

.section__item-title {
  margin-bottom: 20px;
}

.card__text {
  line-height: 1.3;
  color: var(--text-color);
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--subtitle-color);
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.card__text-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-hover);
}

.card__text-link:focus-visible {
  outline: 1px solid var(--link-focus);
}

.card__subtitle {
  font-weight: 400;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  height: 100vh;
  min-block-size: 668px;
  padding: 0 10px;
}

.footer__title {
  color: var(--header-main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--shadow-color);
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-block-size: 1024px;
    padding: 0 20px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    grid-column: 2;
    justify-self: flex-end;
  }

  .header__decoration-item {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__title {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 0;
    margin-left: -20px;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    grid-column: 2;
    grid-row: 3;
    margin-top: 42px;
  }

  .main {
    gap: 80px;
    padding: 0 20px;
  }

  .section-concentrate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__title {
    max-width: 236px;
  }

  .section-concentrate__title {
    grid-column: 1;
    min-inline-size: 236px;
  }

  .card-list-concentrate {
    grid-column: 2 / span 3;
  }

  .section-concentrate-better {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-concentrate-better__title {
    min-inline-size: 236px;
  }

  .container-better {
    display: grid;
    gap: 20px;
    grid-column: 2 / span 3;
  }

  .section__item-title {
    margin-bottom: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin-bottom: 60px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .gallery__title {
    grid-column: 1 / -1;
    max-width: none;
  }

  .wide-top {
    grid-area: 2 / 1 / 3 / 3;
  }

  .high-top {
    grid-area: 2 / 3 / 4 / 4;
  }

  .high-bottom {
    grid-area: 3 / 1 / 5 / 2;
  }

  .square-middle {
    grid-area: 3 / 2 / 4 / 3;
  }

  .wide-bottom {
    grid-area: 4 / 2 / 5 / 4;
  }

  .footer {
    min-block-size: 1024px;
    padding: 0 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__paragraph {
    max-block-size: 71px;
    margin-top: 50px;
  }

  .section__title {
    min-inline-size: 315px;
  }

  .section-concentration__card-list {
    display: flex;
  }

  .section-concentration .card {
    flex: 1;
  }

  .footer {
    min-block-size: 768px;
  }
}
