/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
  padding: 0 10px;
  font-family: 'IBM Plex mono';
  font-size: 18px;
  font-weight: 400;
}

.header {
  background-image: var(--cover-image);
  display: grid;
  height: 100vh;
  min-block-size: 668px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.header__decoration-item {
  color: var(--decor-color);
  position: absolute;
  top: 10px;
  right: 28px;
  z-index: 9999;
}

.header__decoration-item::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decor-color);
  border-radius: 50%;
  top: 8px;
  left: 43px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border: 1px solid var(--decor-color);
  border-top: none;
  border-right: none;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 0;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  border: 1px solid var(--decor-color);
  border-bottom: none;
  border-left: none;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 0;
}

.header__title {
  color: var(--header-main-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 66px;
  max-height: 117px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  color: var(--decor-color);
}

.section:nth-of-type(3) .card__title {
  margin-bottom: 20px;
}


.card-list {
  display: grid;
  gap: 20px;
}

.card__title,
.section__item-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 10px;
}

.card__text {
  line-height: 1.3;
  color: var(--text-color);
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--heading-color);
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover {
  text-decoration: underline;
}

.card__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.card__subtitle {
  font-weight: 400;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  height: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--header-main-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
}