/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /*  */
}

@media (prefers-color-scheme: dark) {

  :root {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --cover-image: url(../images/cover-image-dark.png);
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --header-main-title-color: #db00ff;
    --rectangle-color: #ff0070;
    --button-color: #ff0070;
    --shadow-color: #ff0070;
    --title-color: #ff0070;
    --subtitle-color: #000028;
    --link-hover: #f1b2ce;
    --link-focus: #f1b2ce;
    --decoration-visible: block;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --cover-image: url(../images/cover-image-light.png);
    --decor-color: #ff8dcb;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --header-main-title-color: #ffc2e6;
    --rectangle-color: #353430;
    --button-color: #353430;
    --shadow-color: #ff8dcb;
    --title-color: #353430;
    --subtitle-color: #353430;
    --link-hover: #353430;
    --link-focus: #353430;
    --decoration-visible: none;
  }
}
