/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --cover-image: url("../images/cover-image-dark.png");
    --decor-color: #FF0070;
    --text-color: #F1B2CE;
    --bg-color: #000028;
    --header-main-title-color: #DB00FF;
    --accent-color: #FF0070;
  
  
    --rectangle-color: #FF0070;
    --button-color: #FF0070;
    /* --main-header-color: #DB00FF; */
    --shadow-color: #FF0070;
    --text-background-color: #FF0070;
    --title-color: #FF0070;
    --subtitle-color: #000028;
    /* --text-color: #F1B2CE; */
    --link-hover: #F1B2CE;
    --link-focus: #F1B2CE;
    --decoration-visible: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --cover-image: url("");
    --heading-color: ;
    --decor-color: ;
    --text-color: ;
    --header-main-title: #FFC2E6;
    --accent-color: #FF8DCB;
  
    --cover-image: url("../images/cover-image-light.png");
    --decor-color: #FF8DCB;
    --text-color: #353430;
    --bg-color: #FFF1F7;
    --header-main-title-color: #FFC2E6;
    --accent-color: #FF0070; /*????*/
    --rectangle-color: #353430;
    --button-color: #353430;
    /* --main-header-color: #DB00FF; */
    --shadow-color: #FF8DCB;
    --text-background-color: #FF8DCB;
    --title-color: #353430;
    --subtitle-color: #353430;
    /* --text-color: #F1B2CE; */
    --link-hover: #353430;
    --link-focus: #353430;
    --decoration-visible: none;
  }
}
